.stat-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .stat-bar span {
    margin-right: 10px;
  }
  
  .bar-segment {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .bar-segment.active {
    background-color: grey;
  }
  
  .bar-segment:hover {
    opacity: 0.7;
  }
  
  .value {
    color: white;
    font-weight: bold;
  }
  